@media (min-width: 600px) {
  .contactUsContainer {
    display: flex;
    flex-direction: row;
    align-items: start;
    text-align: left;
  }
}


@media (max-width: 600px) {
  .contactUsContainer {

  }
}